body {
  background: linear-gradient(to right, #00bbff, #12e6ff);
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: rgb(52, 65, 94);
}

span {
  color: white;
}

.meetourteam {
  text-align: center;
  padding-top: 83px;
  color: white;
  font-family: "Abril Fatface", cursive;
  font-size: 7em;
}

.card-alignment {
  display: flex;
  justify-content: space-around;
  font-family: "Space Mono", cursive;
  width: 1200px;
  margin-top: -12px;
  margin-left: 11%;
}

.container-image {
  height: 150px;
  padding-bottom: 20px;
  padding-top: 8px;
}

.card {
  margin-top: 53px;
  height: 300px;
  text-align: center;
}

.display-hidden {
  display: none;
}

.contact-person {
  height: 300px;
}

.data-people-field {
  max-height: 400px;
  overflow-x: auto;
}

.data-people-field::-webkit-scrollbar {
  width: 10px;
}

.data-people-field::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.data-people-field::-webkit-scrollbar-thumb {
  background: #888;
}

.data-people-field::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button-close {
  width: 10px;
  height: 10px;
  background: none;
}
